.loginBody{
    background-color: #2F5385;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    
    filter: drop-shadow(3px 3px 3px);
     
    

}
.herologin {
    background-color: rgb(255, 255, 255);
    border-radius: 30px 0px 0px 30px;
    width: 350px;
    height: 400px;
    text-align: center;
    
    
    
}

.logoimg {
    width: 125px;
    height: 130px;
    margin: 130px 20px;
    float: left;
}

.logoTitle{
    font-family: sans-serif;
    color: #153157;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-top: 155px;
    margin-right: 5px;
    
    
}

.containerlogin {
    background-color: #E6EAF2;
    border-radius: 0px 30px 30px 0px;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
    width: 350px;
    height: 400px;
    
    
}



.loginTitle {
    font-family: sans-serif;
    color: #153157;
    font-size: 20px;
    text-align: center;
    

    
}


.inputUsuarioLogin {
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: white;
    float: right;
    margin: 5px 50px;
    margin-top: 20px;
  
}

.InputPassLogin {
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: white;
    float: right;
    margin: 5px 50px;
}

.btnLogin{
    background-color: #4A678F;
    width: 100px;
    height: 35px;
    font-family: sans-serif;
    border: #4A678F;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 2px 2px grey;
    float: right;
    margin: 5px 50px;
    font-size: 18px;
    
    
}
.containerDos {
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.footerLogin {
    background-color: #6E6E6E;
    height: 40px;
    bottom: 0;
    position: absolute;
    width: 100%;

}

.imglogoFooter{
    margin-left: 45%;
    width: auto;
    height: 40px;
    
}

/* Mi perfil  */

.perfilBody{
    background-color: #EAECF0;
}

.contenedorPerfil {
   
}
.tituloPerfil {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: lighter;
    color: #4A678F;
    text-align: center;
   
}

.miPerfilCont {
    font-family: 'SF Pro Display';
    font-weight: lighter;
    background-color: #DEE7F3;
    padding: 3%;
    width: 500px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 1px grey;
}

.miPerfilCont p {
    font-size: 20px;
    
}

.inputsPerfil {
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: white;
    
    margin: 5px 50px;
    margin-top: 20px;
}

.btnPerfil {
    background-color: #4A678F;
    width: 150px;
    height: 40px;
    font-family: 'SF Pro Display';
    font-weight: lighter;
    border: #4A678F;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 2px 2px grey;
    float: right;
    text-align: center;
    margin: 70px 175px;
    font-size: 18px;
}

.inputCont{
    display: flex;
    margin-left: 65px;
}

.inputP2 {
    margin-left: 48px;
}

.inputP3 {
    margin-left: 75px;
}

.inputP4 {
    margin-left: 57px;
}

.inputP5 {
    margin-left: 70px;
}

/* Index - Mis comprobantes  */

.bodyIndex{
    margin: 0;
    color: #EAECF0;
    font-family: 'SF Pro Display';
}

header {
    width: 100%;
    background-color: #2F5385;
    
    
}

#btn-menu {
    display: none;
    
   
}

header label { 
    display: block;
    width: 40px;
    height: 40px;
    padding: 8px;
    padding-right: 13px;
    
    
}

header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu {
    position: absolute;
    background-color:#2F5385;
    width: 100%;
    margin-left: -100%;
    transition: all 0.8s;

    
}
.menu ul {
    list-style: none;
    flex-direction: column;
    
}

.menu li {
    color: white;
    padding: 8px;
    border-top: 1px solid rgb(102, 101, 101);
    
    
}

    #btn-menu:checked ~ .menu {
        margin: 0;

}
.usuario-header{
    margin-left: 70px;
    margin-top: 0px;
   
    
}
.header-img {
    text-align: end;
    margin-right: 10px;
    margin-top: -50px;
    padding: 5px;
    
    
}

.contenedor-flex {

}

/* Index - main  */



.comprobantes-cont {
    margin: auto;
    margin-top: 70px;
    background-color: #DEE7F3;
    width: 1400px;
    height: 500px;
    border-radius: 20px;

}

.comprobantes-cont .comprobantes-ul {
    display: flex;
    list-style: none;
    
    
}

.comprobantes-cont .comp-li1 {
    padding: 2px;
    margin-top: 30px;
    margin-left: 70px;
    color: #153157;
    font-size: 20px;
    font-weight: lighter;
    
}

.contenedor-comprobante {
    margin: auto;
    margin-top: 35px;
    display: flex;
    background-color: white;
    width: 1300px;
    height: 75px;
    border-radius: 8px;
}
.contenedor-comprobante ul {
    display: flex;
    list-style: none;
}

.contenedor-comprobante li {
    color: #000000;
    padding: 10px;
    justify-content: space-around;
    margin-right: 65px;
    margin-left: 15px;
    margin-top: 3px;
    display: block;
}
.contenedor-comprobante button {
    background-color: #f4f4f5;
    width: 110px;
    height: 40px;
    font-family: 'SF Pro Display';
    font-weight: lighter;
    border: #4A678F;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 2px 2px grey;
    float: right;
    text-align: center;
    margin-left: 80px;
    margin-top: 18px;
    font-size: 18px;
    
    

}

.img-li {
    margin-left: -25px;
    margin-top: 12px;
}


/* Index - nuevo comprobantes */
/* PARTE UNO */
.NCbody{
    margin: 0;
    background-color: #EAECF0;
    font-family: 'SF Pro Display';
    font-weight: lighter;
}

.title-NC {
    text-align: center;
    color: #4A678F;
}

.contenedorNC1 {
    background-color: #DEE7F3;
    width: 650px;
    height: 500px;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 2px grey;
    font-size: 20px;

   
}
.contenedorNC1 input, select {
    margin-top: 12px;
}
.cont-comprobanteSuperior div {
    display: flex;
   
}

.cont-comprobanteSuperior div p {
    padding-left: 15px;
    padding-right: 15px;
}

.cont-comprobanteSuperior div input {
    padding-right: 15px;
    height: 35px;
    border-radius: 5px;
    border: white;
    box-shadow: 1px 2px 2px grey;
}



.cont-comprobanteInferior div{
    display: flex;
    
}

.cont-comprobanteInferior div p {
    padding-left: 15px;
    padding-right: 15px;
}

.cont-comprobanteInferior div input {
    padding-right: 15px;
    height: 40px;
    border-radius: 5px;
    border: white;
    box-shadow: 1px 2px 2px grey;
}


.contenedorNC1 select {
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    border: white;
    margin-right: 15px;
    width: 100px;
    cursor: pointer;
    box-shadow: 1px 2px 2px grey;
}

.btn-agregarItemsFactura{ 
    color: #f4f4f5;
    background-color: #4A678F;
   
    border: #4A678F;
    border-radius: 30px;
    color: white;
    box-shadow: 1px 2px 2px grey;
    float: right;
    font-size: 18px;
    height: 35px;
    width: 35px;
    font-size: 20px;
    cursor: pointer;
}

/* PARTE DOS segundo contenedor */



.mainContainer-NC {
    display: flex;
    gap: 5px;
    
}
.contenedorNC2 {
    background-color: #DEE7F3;
    width: 650px;
    height: 480px;
    padding: 40px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 2px grey;
    font-size: 20px;

}
.contenedorNC2 input, select {
    margin-top: 12px;
}

.contenedorNC2 p {
    margin-right: 10px;
}

.contenedorNC2 input {
    padding-left: 15px;
    height: 40px;
    border-radius: 5px;
    border: white;
    width: 50px;
    box-shadow: 1px 2px 2px grey;
    margin-left: 8px;
    
}

.contenedorNC2 .inputGrande {
    width: 200px;
}

/* Comprobante superior 2  */

/* Comprobante inferior2  */
.contenedor-comprobanteInferior2 div{
    display: flex;
    
}


.btn-selectarchivoNC {
    color: #f4f4f5;
    background-color: #4A678F;
    border: #4A678F;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 2px 2px grey;
    font-size: 10px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.cont-imp2 div{
    display: flex;
}
.cont-imp{
    display: flex;
          flex-direction: row-reverse;
    margin-right: 120px;
}

.cont-imp p {
    
}

/* -------------Boton crear comprobante ------------------------*/

.btn-crearComprobante {
    color: #f4f4f5;
    background-color: #4A678F;
    border: #4A678F;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 2px 2px grey;
    font-size: 10px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    margin-left: 43%;
    
   
}
